@model SquareEquation_ASP.Models.SquareEquationViewModel

@{
    ViewBag.Title = "Calculate";
}

<h2>Calculate</h2>

@using (Html.BeginForm("Calculate", "SquareEquation", FormMethod.Post))
{
    <span>a: </span>@Html.TextBoxFor(model => model.A);
    <span>b: </span>@Html.TextBoxFor(model => model.B);
    <span>c: </span>@Html.TextBoxFor(model => model.C);
    <button type="submit" name="submit" onclick="">Calculate</button>
}