@model SquareEquation_ASP.Models.SquareEquationViewModel

@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>

<h3>Here are the results for your equation:</h3>

<p>Discriminant: @Model.Discriminant</p>
<p>X1: @Model.X1</p>
<p>X2: @Model.X2</p>

<a href="Index">Return to the main page</a>

